* {
	box-sizing: border-box;
}


html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  line-height: 30px;
  background-color: #f5f5f5;
  text-align: center;
}



body > .container {
  padding: 60px 15px 0;
}

.navbar {
  background-color: rgba(54, 82, 148, 0.8);
  border-radius: 0;
  padding: 20px;
}

.navbar-brand {
  font-size: 25px;
  color: #FFF;
}

#sign-out {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.row {
	margin-bottom: 16px;
}

.vertical-align {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: table;
  width: 100%;
}

.input-group {
	margin-bottom: 16px;
	width: 100%;
}

.gutter-left--small {
	margin-left: 16px;
}

.gutter-left--large {
	margin-left: 50px;
}

.is-hidden {
	display: none;
}

.form-control--invalid {
	background-color: #ffdddd;
}

body {
  margin-bottom: 30px;
  height: calc(100vh - 30px);
  background-color: #dfdfdf;
}

.body--sign-in {
  background-image: url(../images/anonymity_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.body--dashboard {
    background-image: none;
}

.body--dashboard > .container {
  height: calc(100% - 182px);
}

.height-full {
  height: 100%;
}

#dashboard-container .panel-body {
  height: calc(100% - 94px);
  overflow-y: auto;
}

.circle {
  border-radius: 100%;
}

.add-topic {
    padding: 10px;
    width: 55px;
    height: 55px;
    float: right;
    margin-right: 30px;
    margin-top: -30px;
}

.input-group,
.form-group {
  margin-bottom: 0px;
}

.panel-default>.panel-heading {
  background-color:  rgb(54, 82, 148);
  color: #FFF;
}

.btn-primary {
  background-color:  rgb(54, 82, 148);
}


.giphy-container {
  height: 300px;
  width: 40vmin;
}

.popover {
  max-width: none;
}


.giphy-item {
  border: none;
}

#giphy-carousel .carousel-inner .gif-image {
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.carousel-inner .item {
  height: 250px;
}

.carousel-inner .item {
  height: 250px;
}
