* {
	box-sizing: border-box;
}

.row {
	margin-bottom: 16px;
}

.vertical-align {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: table;
    width: 100%;
}

.input-group {
	margin-bottom: 16px;
	width: 100%;
}

.gutter-left--small {
	margin-left: 16px;
}

.gutter-left--large {
	margin-left: 50px;
}

.is-hidden {
	display: none;
}

.form-control--invalid {
	background-color: #ffdddd;
}

body {
	background-image: url(../images/anonymous16.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	/* Margin bottom by footer height */
  	margin-bottom: 60px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.navbar {
	background-color: grey;
}

.navbar-brand {
	font-size: 25px;
}

#sign-out {
	float: right;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
